@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    /* gap: 15px; */
    grid-template-areas: 
    'header header header'
    'menu-nav menu-nav menu-nav'
    'menu-left principal lateral'
    'rodape rodape rodape';
}

#header {
    grid-area: header;
    background-color: rgb(151, 151, 252);
    text-align: center;
    padding: 20px;
}

#menu-nav {
    grid-area: menu-nav;
    /* height: 30px; */
    padding: 5px;
}

#menu-nav ul > li{
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    background-color: rgb(226, 160, 80);
    border-radius: 5px;
    border: 2px solid black;
}

#menu-nav ul > li > a {
    text-decoration: none;
    font-weight: bold;
}

#menu-nav ul > li:hover {
    background-color: rgb(180, 128, 229);
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
    transform: translate(2px, -2px);
    transition: transform 0.2s;
}

#menu-left {
    grid-area: menu-left;
    width: 200px;
    border: 1px solid black;
    /* height: 600px; */
}

#menu-left ul > li {
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

#img-um {
    background-image: ;
}


#principal {
    grid-area: principal;
    border: 1px solid black;
    width: 60vw;
    /* height: 600px; */
}

#principal > section {
    min-width: 50%;
    max-width: 70%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.texto {
    text-align: justify;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#lateral {
    grid-area: lateral;
    width: 400px;
    /* height: 600px; */
    padding: 10px;
}


#rodape {
    grid-area: rodape;
    text-align: center;
    border: 1px solid black;
    padding-top: 10px;
    /* height: 40px; */
}

